<!DOCTYPE html>
<html>

<head>
    <title>FindAndGo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.png">
    
    <link rel="stylesheet" href="/css/normalize.min.css">
    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-1.0.0-b1/leaflet.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/css/leaflet.photon.css" />
    <link rel="stylesheet" href="/css/FindAndGo.css" />
    <link rel="stylesheet" href="/css/main.css" />
    
    <!-- Photon search : https://github.com/komoot/leaflet.photon -->
    <script type="text/javascript" src="/js/leaflet.photon.js"></script>
    <script type="text/javascript" src="/js/GHUtil.js"></script>
    <script type="text/javascript" src="/js/FindAndGo.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">visites des monuments</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/etudiants/">Etudiant</a>
      </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/monuments">Monument <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/visite/">Visite</a>
      </li>


    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
    <div>
        <div class="descriptif">
            <h2 style="margin-left: 400px;"> les visites des monuments !</h2>


        </div>

        <div id="map"></div>
        <div id="FindAndGo">
            <div class="FaG">
            </div>




        </div>



    </div>

    <% if (etudiant) { %>
        <script>
           var etudiant = <%- JSON.stringify(etudiant) %>;
        </script>
     <% } %>


    <script>
       
        var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });
        var OpenTopoMap = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });
		var OSMFr  = L.tileLayer('http://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });
		var Landscape = L.tileLayer('http://{s}.tile3.opencyclemap.org/landscape/{z}/{x}/{y}.png', {
            attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        var map = L.map("map", {
            layers: [osmLayer],
            //center: [47.215, -1.555],
            center: [31.792306, -7.080168],
            zoom: 6
        });
        L.control.scale({ imperial: false }).addTo(map);




        var layerControl = L.control.layers({
            "OpenStreetMap": osmLayer,
            "OpenTopoMap": OpenTopoMap,
			"OSM-Fr" :OSMFr,
             "Landscape":Landscape			
        });
        layerControl.addTo(map);
        var greenIcon = L.icon({
            iconUrl: '/img/monu2.png',
            shadowUrl: 'https://leafletjs.com/examples/custom-icons/leaf-shadow.png',

            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        const marker = new Array();
        const circle = new Array();
        const ssss = new Array();
        var i=0;
        etudiant.forEach(function(e){
        marker[i] =L.marker([e.longitude, e.latitude], {icon: greenIcon}).addTo(map);
        var popupContent = "C'EST "+e.nom;
        marker[i].bindPopup(popupContent);

        marker[i].on('click', function(e) {
            var lat2 =L.DomUtil.get("FaG-lat").value;
            var lng2 =L.DomUtil.get("FaG-lon").value;
            var from = L.latLng(e.latlng.lat, e.latlng.lng);
            var to = L.latLng(lat2, lng2);
           if ( from.distanceTo(to).toFixed(0)/1000 <= 1) {
            console.log("valid");
            var outputAddress = L.DomUtil.get("FaG-address");
            outputAddress.innerHTML = '<br>VALID<br>';
           
            map.fitBounds([[e.latlng.lat, e.latlng.lng],[lat2, lng2]]);
            
        }else {
                console.log("invalid");

                console.log(from.distanceTo(to).toFixed(0)/1000);
                var outputAddress = L.DomUtil.get("FaG-address");
                outputAddress.innerHTML = '<br>INVALID<br>'+"tu est loin du centre de monument de :"+ from.distanceTo(to).toFixed(0)/1000 + ' km';
                ///////////////////////////////////////////////////////////////////////////////////
                map.fitBounds([[e.latlng.lat, e.latlng.lng],[lat2, lng2]]);
               
            };
           
          console.log(e.latlng);
            });
       
        circle[i]=L.circle([e.longitude, e.latitude], {radius: 1000}).addTo(map);
        var popupContent2 = "la zone d 1km autour du monument" ; 
        circle[i].bindPopup(popupContent2);
        
        i=i+1;
        });
        ///////////////////////////////////////////////////////////
        function myFunction() {
                var elements = document.getElementsByClassName("formVal");
                var formData = new FormData();
                for (var i = 0; i < elements.length; i++) {
                    formData.append(elements[i].name, elements[i].value);
                }
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                        alert(xmlHttp.responseText);
                    }
                }
                xmlHttp.open("post", "/visite/add");
                xmlHttp.send(formData);
            }
        /////////////////////////////////////////////////////////////////
        new FindAndGo("FindAndGo", map, {
            layerControl: layerControl,
            graphhopperApiKey: "717128f9-8ffb-43b9-8e4b-9c703eb94076"

        

        });
    </script>

</body>

</html>